@import 'bootstrap/dist/css/bootstrap.min.css';

html, 
body {
    background: url(img/background_picture.webp) center repeat;	    
    background-size: cover;
    font-family:'Times New Roman', Times, serif;
}

@media screen and (max-width: 500px) {
    
    html, 
    body {

        background-size: 100rem;
    }
}