@import 'bootstrap/dist/css/bootstrap.min.css';

html, 
body {
    background: url(img/background_picture.webp) center repeat;	    
    background-size: cover;
    font-family:'Times New Roman', Times, serif;
}
